*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.nav__btn-outline-dark {
    margin-top: 6px;
    margin-bottom: 6px;
}

.card__heading a {
    text-decoration: none;
    color: #333;
}